[package]
name = "wasm-tools"
version = "1.0.1"
authors = ["The Wasmtime Project Developers"]
edition = "2018"
description = "CLI tools for interoperating with WebAssembly files"
license = "Apache-2.0 WITH LLVM-exception"
documentation = "https://github.com/bytecodealliance/wasm-tools"
categories = ["wasm"]
keywords = ["webassembly", "wasm"]
repository = "https://github.com/bytecodealliance/wasm-totols"
readme = "README.md"
exclude = ['tests/wabt', 'tests/testsuite', 'publish.rs']

[workspace]
members = ['fuzz', 'crates/wasm-encoder', 'crates/fuzz-stats', 'crates/wasm-mutate-stats']

[dependencies]
anyhow = "1.0"
env_logger = "0.8"
log = "0.4"
clap = { version = "3.0", features = ['derive'] }
tempfile = "3.2.0"
wat = { path = "crates/wat", optional = true, version = '1.0.41' }

# Dependencies of `validate`
wasmparser = { path = "crates/wasmparser", optional = true, version = '0.82.0' }
rayon = { version = "1.0", optional = true }

# Dependencies of `print`
wasmprinter = { path = "crates/wasmprinter", optional = true, version = '0.2.32' }

# Dependencies of `smith`
arbitrary = { version = "1.0.0", optional = true }
serde = { version = "1", features = ['derive'], optional = true }
serde_json = { version = "1", optional = true }
wasm-smith = { path = "crates/wasm-smith", features = ["_internal_cli"], optional = true, version = '0.9.0' }

# Dependencies of `shrink`
wasm-shrink = { path = "crates/wasm-shrink", features = ["clap"], optional = true, version = '0.1.1' }
is_executable = { version = "1.0.1", optional = true }

# Dependencies of `mutate`
wasm-mutate = { path = "crates/wasm-mutate", features = ["clap"], optional = true, version = '0.1.1' }

# Dependencies of `dump`
wasmparser-dump = { path = "crates/dump", optional = true, version = '0.1.0' }

[dev-dependencies]
anyhow = "1.0"
getopts = "0.2"
serde_json = "1.0"
tempfile = "3.1"
diff = "0.1"
wasmparser-dump = { path = 'crates/dump' }
wast = { path = 'crates/wast' }

[[test]]
name = "dump"
harness = false

[[test]]
name = "roundtrip"
harness = false

[features]
# By default, all subcommands are built
default = ['shrink', 'smith', 'mutate', 'validate', 'print', 'parse', 'dump', 'objdump']

# Each subcommand is gated behind a feature and lists the dependencies it needs
validate = ['wasmparser', 'rayon', 'wat']
print = ['wasmprinter']
parse = ['wat']
smith = ['wasm-smith', 'arbitrary', 'serde', 'serde_json']
shrink = ['wasm-shrink', 'is_executable', 'wat', 'wasmprinter']
mutate = ['wasm-mutate', 'wat']
dump = ['wasmparser-dump', 'wat']
objdump = ['wasmparser', 'wat']
