[package]
name = "wasm-tools"
version = "1.0.47"
authors = ["The Wasmtime Project Developers"]
edition.workspace = true
description = "CLI tools for interoperating with WebAssembly files"
license = "Apache-2.0 WITH LLVM-exception"
documentation = "https://github.com/bytecodealliance/wasm-tools"
categories = ["wasm"]
keywords = ["webassembly", "wasm"]
repository = "https://github.com/bytecodealliance/wasm-tools"
readme = "README.md"
exclude = ['tests/wabt', 'tests/testsuite', 'tests/snapshots', 'ci']

[workspace]
members = [
  'crates/c-api',
  'crates/fuzz-stats',
  'crates/wasm-mutate-stats',
  'fuzz',
  'crates/wit-parser/fuzz',
]

[workspace.package]
edition = '2021'

[workspace.dependencies]
anyhow = "1.0.58"
arbitrary = "1.1.0"
clap = { version = "4.0.0", features = ["derive"] }
criterion = "0.3.3"
env_logger = "0.9"
indexmap = "2.0.0"
leb128 = "0.2.4"
libfuzzer-sys = "0.4.0"
log = "0.4.17"
num_cpus = "1.13"
rand = { version = "0.8.4", features = ["small_rng"] }
rayon = "1.3"
serde = "1.0.166"
serde_derive = "1.0.166"
serde_json = { version = "1" }
wasmtime = { version = "12.0.0", default-features = false, features = ['cranelift', 'component-model'] }
url = "2.0.0"
pretty_assertions = "1.3.0"
semver = "1.0.0"

wasm-compose = { version = "0.4.9", path = "crates/wasm-compose" }
wasm-encoder = { version = "0.35.0", path = "crates/wasm-encoder" }
wasm-metadata = { version = "0.10.9", path = "crates/wasm-metadata" }
wasm-mutate = { version = "0.2.38", path = "crates/wasm-mutate" }
wasm-shrink = { version = "0.1.39", path = "crates/wasm-shrink" }
wasm-smith = { version = "0.12.21", path = "crates/wasm-smith" }
wasmparser = { version = "0.115.0", path = "crates/wasmparser" }
wasmprinter = { version = "0.2.70", path = "crates/wasmprinter" }
wast = { version = "66.0.2", path = "crates/wast" }
wat = { version = "1.0.77", path = "crates/wat" }
wit-component = { version = "0.15.0", path = "crates/wit-component" }
wit-parser = { version = "0.12.0", path = "crates/wit-parser" }
wit-smith = { version = "0.1.17", path = "crates/wit-smith" }

[dependencies]
anyhow = { workspace = true }
env_logger = { workspace = true }
log = { workspace = true }
clap = { workspace = true }
tempfile = "3.2.0"
wat = { workspace = true }
termcolor = "1.2.0"

# Dependencies of `validate`
wasmparser = { workspace = true, optional = true }
rayon = { workspace = true, optional = true }

# Dependencies of `print`
wasmprinter = { workspace = true }

# Dependencies of `smith`
arbitrary = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_derive = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
wasm-smith = { workspace = true, features = ["_internal_cli"], optional = true }

# Dependencies of `shrink`
wasm-shrink = { workspace = true, features = ["clap"], optional = true }

# Dependencies of `mutate`
wasm-mutate = { workspace = true, features = ["clap"], optional = true }

# Dependencies of `strip`
wasm-encoder = { workspace = true, optional = true }
regex = { version = "1.6.0", optional = true }

# Dependencies of `compose`
wasm-compose = { workspace = true, optional = true }

# Dependencies of `demangle`
rustc-demangle = { version = "0.1.21", optional = true }
cpp_demangle = { version = "0.4.0", optional = true }

# Dependencies of `component`
wit-component = { workspace = true, optional = true, features = ['dummy-module', 'wat'] }
wit-parser = { workspace = true, optional = true }
wast = { workspace = true, optional = true }

# Dependencies of `metadata`
wasm-metadata = { workspace = true, features = ["clap"], optional = true }

# Dependencies of `wit-smith`
wit-smith = { workspace = true, features = ["clap"], optional = true }

# Dependencies of `addr2line`
addr2line = { version = "0.20.0", optional = true }
gimli = { version = "0.27.2", optional = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
is_executable = { version = "1.0.1", optional = true }

[dev-dependencies]
serde_json = "1.0"
tempfile = "3.1"
diff = "0.1"
wast = { path = 'crates/wast' }
pretty_assertions = { workspace = true }

[[test]]
name = "cli"
harness = false

[[test]]
name = "roundtrip"
harness = false

[features]
# By default, all subcommands are built
default = [
  'shrink',
  'smith',
  'mutate',
  'validate',
  'print',
  'parse',
  'dump',
  'objdump',
  'strip',
  'compose',
  'demangle',
  'component',
  'metadata',
  'wit-smith',
  'addr2line',
]

# Each subcommand is gated behind a feature and lists the dependencies it needs
validate = ['dep:wasmparser', 'rayon']
print = []
parse = []
smith = ['wasm-smith', 'arbitrary', 'serde', 'serde_derive', 'serde_json']
shrink = ['wasm-shrink', 'is_executable']
mutate = ['wasm-mutate']
dump = ['dep:wasmparser']
objdump = ['dep:wasmparser']
strip = ['wasm-encoder', 'dep:wasmparser', 'regex']
compose = ['wasm-compose', 'dep:wasmparser']
demangle = ['rustc-demangle', 'cpp_demangle', 'dep:wasmparser', 'wasm-encoder']
component = [
  'wit-component',
  'wit-parser',
  'wast',
  'wasm-encoder',
  'dep:wasmparser',
  'serde_json',
]
metadata = ['dep:wasmparser', 'wasm-metadata', 'serde_json']
wit-smith = ['dep:wit-smith', 'arbitrary']
addr2line = ['dep:addr2line', 'dep:gimli', 'dep:wasmparser']
