[package]
name = "wasm-tools"
version = "1.0.12"
authors = ["The Wasmtime Project Developers"]
edition.workspace = true
description = "CLI tools for interoperating with WebAssembly files"
license = "Apache-2.0 WITH LLVM-exception"
documentation = "https://github.com/bytecodealliance/wasm-tools"
categories = ["wasm"]
keywords = ["webassembly", "wasm"]
repository = "https://github.com/bytecodealliance/wasm-tools"
readme = "README.md"
exclude = ['tests/wabt', 'tests/testsuite', 'publish.rs']

[workspace]
members = [
  'crates/c-api',
  'crates/fuzz-stats',
  'crates/wasm-mutate-stats',
  'fuzz',
]

[workspace.package]
edition = '2021'

[workspace.dependencies]
anyhow = "1.0.58"
arbitrary = "1.1.0"
clap = { version = "4.0.0", features = ["derive"] }
criterion = "0.3.3"
env_logger = "0.9"
indexmap = "1.9.1"
leb128 = "0.2.4"
libfuzzer-sys = "0.4.0"
log = "0.4.17"
num_cpus = "1.13"
rand = { version = "0.8.4", features = ["small_rng"] }
rayon = "1.3"
serde = { version = "1.0.137", features = ["derive"] }
wasmtime = "1.0.0"

wasm-encoder = { version = "0.18.0", path = "crates/wasm-encoder"}
wasm-compose = { version = "0.1.3", path = "crates/wasm-compose"}
wasm-mutate = { version = "0.2.4", path = "crates/wasm-mutate" }
wasm-shrink = { version = "0.1.6", path = "crates/wasm-shrink" }
wasm-smith = { version = "0.11.2", path = "crates/wasm-smith" }
wasmparser = { version = "0.92.0", path = "crates/wasmparser" }
wasmparser-dump = { version = "0.1.4", path = "crates/dump" }
wasmprinter = { version = "0.2.36", path = "crates/wasmprinter" }
wast = { version = "47.0.1", path = "crates/wast" }
wat = { version = "1.0.44", path = "crates/wat" }

[dependencies]
anyhow = { workspace = true }
env_logger = { workspace = true }
atty = "0.2"
log = { workspace = true }
clap = { workspace = true }
tempfile = "3.2.0"
wat = { workspace = true }

# Dependencies of `validate`
wasmparser = { workspace = true, optional = true }
rayon = { workspace = true, optional = true }

# Dependencies of `print`
wasmprinter = { workspace = true }

# Dependencies of `smith`
arbitrary = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { version = "1", optional = true }
wasm-smith = { workspace = true, features = ["_internal_cli"], optional = true }

# Dependencies of `shrink`
wasm-shrink = { workspace = true, features = ["clap"], optional = true }
is_executable = { version = "1.0.1", optional = true }

# Dependencies of `mutate`
wasm-mutate = { workspace = true, features = ["clap"], optional = true }

# Dependencies of `dump`
wasmparser-dump = { workspace = true, optional = true }

# Dependencies of `strip`
wasm-encoder = { workspace = true, optional = true }

# Dependencies of `compose`
wasm-compose = { workspace = true, optional = true, features = ['cli'] }

[dev-dependencies]
serde_json = "1.0"
tempfile = "3.1"
diff = "0.1"
wasmparser-dump = { path = 'crates/dump' }
wast = { path = 'crates/wast' }

[[test]]
name = "dump"
harness = false

[[test]]
name = "roundtrip"
harness = false

[features]
# By default, all subcommands are built
default = ['shrink', 'smith', 'mutate', 'validate', 'print', 'parse', 'dump', 'objdump', 'strip', 'compose']

# Each subcommand is gated behind a feature and lists the dependencies it needs
validate = ['wasmparser', 'rayon']
print = []
parse = []
smith = ['wasm-smith', 'arbitrary', 'serde', 'serde_json']
shrink = ['wasm-shrink', 'is_executable']
mutate = ['wasm-mutate']
dump = ['wasmparser-dump']
objdump = ['wasmparser']
strip = ['wasm-encoder', 'wasmparser']
compose = ['wasm-compose']
