:root {
  --text-color: #404040;
}

html {
  height: 100%;
}

body {
  font-family: system,-apple-system,system-ui,BlinkMacSystemFont,sans-serif;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.3;
  height: calc(100% - 16px - .4rem);
  display: flex;
  flex-direction: column;
  padding: .4rem
}

header {
  text-align: center;
}

h1 {
  margin: 0px;
}

a {
  color: var(--text-color);
}

