[package]
name = "wasmparser"
version = "0.89.1"
authors = ["Yury Delendik <ydelendik@mozilla.com>"]
license = "Apache-2.0 WITH LLVM-exception"
repository = "https://github.com/bytecodealliance/wasm-tools/tree/main/crates/wasmparser"
homepage = "https://github.com/bytecodealliance/wasm-tools/tree/main/crates/wasmparser"
keywords = ["parser", "WebAssembly", "wasm"]
description = """
A simple event-driven library for parsing WebAssembly binary files.
"""
edition = "2021"

[dependencies]
indexmap = "1.8.0"

[dev-dependencies]
anyhow = "1.0"
criterion = "0.3"
getopts = "0.2"
wat = { path = "../wat" }
wast = { path = "../wast" }
rayon = "1.3"
wasmparser-dump = { path = "../dump" }
once_cell = "1.13.0"

[[bench]]
name = "benchmark"
harness = false

[features]
# The "deterministic" feature supports only Wasm code with "deterministic" execution
# across any hardware. This feature is very critical for many Blockchain infrastructures
# that rely on deterministic executions of smart contracts across different hardwares.
deterministic = []
