[package]
name = "wit-dylib-ffi"
version = "0.1.0"
edition.workspace = true
publish = false

[lints]
workspace = true

[lib]
test = false
doctest = false

[dependencies]
wit-bindgen = { workspace = true, optional = true, features = ['async'] }

[features]
default = []
async-raw = []
async-runtime = ['dep:wit-bindgen']
