[package]
description = "A WIT encoder for Rust"
documentation = "https://docs.rs/wit-encoder"
edition.workspace = true
license = "Apache-2.0 WITH LLVM-exception"
name = "wit-encoder"
repository = "https://github.com/bytecodealliance/wasm-tools/tree/main/crates/wit-encoder"
version.workspace = true

[lints]
workspace = true

[dependencies]
semver = { workspace = true }
pretty_assertions = { workspace = true }

[dev-dependencies]
indoc = { workspace = true }
