[package]
authors = ["Nick Fitzgerald <fitzgen@gmail.com>"]
categories = ["command-line-utilities", "development-tools", "development-tools::testing", "wasm"]
description = "A WebAssembly test case generator"
documentation = "https://docs.rs/wasm-smith"
edition.workspace = true
license = "Apache-2.0 WITH LLVM-exception"
name = "wasm-smith"
readme = "./README.md"
repository = "https://github.com/bytecodealliance/wasm-tools/tree/main/crates/wasm-smith"
version = "0.12.21"
exclude = ["/benches/corpus"]

[[bench]]
name = "corpus"
harness = false

[dependencies]
arbitrary = { workspace = true, features = ["derive"] }
flagset = "0.4"
indexmap = { workspace = true }
leb128 = { workspace = true }
serde = { workspace = true, optional = true }
serde_derive = { workspace = true, optional = true }
wasm-encoder = { workspace = true }
wasmparser = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
rand = { workspace = true }
wasmprinter = { path = "../wasmprinter" }
wat = { path = "../wat" }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
libfuzzer-sys = { workspace = true }

[features]
_internal_cli = ["serde", "serde_derive"]
