[package]
name = "middleware"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
flate2 = "1.0.24"
cargo-component-bindings = { git = "https://github.com/bytecodealliance/cargo-component" }

[lib]
crate-type = ["cdylib"]

[package.metadata.component]
target = { path = "../service.wit", world = "middleware" }

[workspace]
